@media screen and (min-width: 800px) {
  br[data-class="br"] {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  br[data-class="br"] {
    display: block;
  }

  span[data-class="uppercase"] {
    text-transform: uppercase;
  }
}